* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


div {
    display: block
}

.class_head {
    padding: 0 15px;
    border-bottom: 1px solid #cbcbcb;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    z-index: 11;
    background: #fff;
}

.class_head .head_left {
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: right;
    padding-right: 5%;
    box-sizing: border-box;
}

.class_head .head_left span {
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
}

.class_head .active>span {
    color: #ed4040;
    border-bottom: 2px solid #ed4040
}

.class_head .head_right {
    position: relative;
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 5%;
    box-sizing: border-box;
}

.class_head .head_right span {
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
}

.class_head .head_right span.active {
    color: #ed4040;
    border-bottom: 2px solid #ed4040
}

.class_head .head_right .search {
    position: absolute;
    top: 13px;
    right: 15px;
    height: 14px;
    width: 14px;
    line-height: 14px;
    color: #666
}

.kindbox {
    margin-top: 40px;
}

.kindbox .leftbox {
    position: fixed;
    top: 40px;
    left: 0;
    bottom: 0;
    padding-bottom: 45px;
    border-right: 5px solid #f3f4f5;
}

.kindbox .leftbox.bgff {
    background: #fff
}

.kindbox .leftbox div {
    display: block;
}

.kindbox .leftbox div ul {
    list-style: none;
}

.kindbox .leftbox div ul li {
    padding: 15px 0;
    border-bottom: 1px solid #f3f4f5;
    width: 70px;
    height: 50px;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.kindbox .leftbox div ul li.on {
    background: #f3f4f5;
    color: #ed4044
}

.kindbox .rightbox {
    height: 100%;
    margin-left: 75px;
    border-top: 5px solid #f3f4f5;
    display: block;
}

.kindbox .rightbox.bgfff {
    background: #fff
}

.kindbox .rightbox div {
    display: block;
}

.kindbox .rightbox div .bgfff {
    background: #fff;
    display: block;
}

.kindbox .rightbox div .bgfff .hot-recom {
    padding: 5px 5px 20px;
    display: block;
}

.kindbox .rightbox div .bgfff .hot-recom.bbtf3 {
    border-top: 1px solid #f3f4f5;
}

.kindbox .rightbox div .bgfff .hot-recom.bbtf3 a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.kindbox .rightbox div .bgfff .hot-recom.bbtf3 a.ft12 {
    font-size: 12px;
    color: #999;
    padding-left: 5px;
    margin-top: 10px
}

.kindbox .rightbox div .bgfff .hot-recom.bbtf3 a.db {
    display: block
}

.kindbox .rightbox div .bgfff .hot-recom.bbtf3 .clearfix {
    overflow: hidden;
    list-style: none;
}

.kindbox .rightbox div .bgfff .hot-recom.bbtf3 .clearfix .fl {
    width: 33.33%;
    padding: 0 5px;
    margin-top: 10px;
    float: left;
    list-style: none;
}

.kindbox .rightbox div .bgfff .hot-recom.bbtf3 .clearfix .fl .db {
    display: block;
    color: #333;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.kindbox .rightbox div .bgfff .hot-recom.bbtf3 .clearfix .fl .db .loadimg-nofixed {

    background-size: 120px auto;
    position: relative;
    padding-top: 100%;
}

.kindbox .rightbox div .bgfff .hot-recom.bbtf3 .clearfix .fl .db .loadimg-nofixed .image {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    border: 0;
    vertical-align: middle
}

.kindbox .rightbox div .bgfff .hot-recom.bbtf3 .clearfix .fl .db p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
    color: #333;
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
    display: block
}

.bandsbox {
    display: block;
}

.bandsbox .brand-list {
    background: #f3f4f5;
    padding: 45px 0 0;
    display: block;
}

.bandsbox .brand-list .wrapper {
    padding-bottom: 15px;
    margin-bottom: 10px;
    background: #fff;
}

.bandsbox .brand-list .wrapper .title {
    padding-top: 20px;
    font-size: 12px;
    color: #999;
    text-align: center;
}

.bandsbox .brand-list .wrapper .title .c999 {
    color: #999
}

.bandsbox .brand-list .wrapper .list {
    padding: 0 5px;
}

.bandsbox .brand-list .wrapper .list .clearfix {
    list-style: none;
    overflow: hidden;
}

.bandsbox .brand-list .wrapper .list .clearfix li {
    margin-top: 20px;
    width: 33.33%;
    padding: 0 5px;
    list-style: none;
}

.bandsbox .brand-list .wrapper .list .clearfix li.fl {
    position: relative;
    float: left;
}

.bandsbox .brand-list .wrapper .list .clearfix li.fl .block {
    display: block;
    color: #333;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bandsbox .brand-list .wrapper .list .clearfix li.fl .block .img {
    border: 1px solid #e2e2e2;
    text-align: center;
    padding: 50px 10px 10px;

    background-size: 120px auto;
    height: 50px;
    position: relative;
}

.bandsbox .brand-list .wrapper .list .clearfix li.fl .block .img .image {
    top: 0;
    left: 0;
    position: absolute;
    max-width: 90%;
    margin: 10px auto 0;
    height: 40px;
    right: 0;
    display: block;
    border: 0;
    vertical-align: middle
}

.bandsbox .brand-list .wrapper .list .clearfix li.fl .name {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    margin-top: 5px;
    text-align: center;
    display: block
}

.bandsbox .brand-list .wrapper .list .clearfix li.fl .address {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #999;
    text-align: center;
    display: block
}

.listcontainer{
    height: 600px;
}
.allMenue{
    color:white;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    position: fixed;
    bottom:70px;
    right:6px;
    border-radius: 50%;
    width: 40px;
    height:40px;
    background: rgba(0,0,0,.4);
}

#root{
    height: 100%;

}
.bwcontainer{
    height: 100%;
}
.bW{

}

.bW .headerTop1 {
    overflow-y: hidden;
    width: 100%;
    padding: 0 5px;
    height: 50px;
    background-color: #fff;
    line-height: 50px;
}

.bW .headerTop1 .all {
    width: 80%;
    display: inline-block;
    text-align: center
}

.bW .headerTop1 #icon {
    font-size: 23px
}

.bW #content #item0 .letter {
    height: 24px;
    text-indent: 15px;
    line-height: 24px
}

.bW #content #item0 div {
    background-color: #fff;
}

.bW #content #item0 div a .brand-wrapper {
    box-sizing: border-box;
    height: 73px;
    display: flex;
    padding: 2% 3%;
}

.bW #content #item0 div a .brand-wrapper .brand-img {
    height: 52px;
    position: relative;
    border: 1px solid #ff46d2;
    width: 30%;
}

.bW #content #item0 div a .brand-wrapper .brand-img img {
    max-width: 90%;
    height: 40px;
    margin: 5px auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.bW #content #item0 div a .brand-wrapper .brand-name {
    padding-left: 20px;
    height: 52px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bW #content #item0 div a .brand-wrapper .brand-name .ft14 {
    font-size: 14px
}

.bW #content #item0 div a .brand-wrapper .brand-name .ft12 {
    font-size: 12px
}

.bW #content #item0 div .line {
    height: 1px;
    width: 90%;
    background-color: #d5dcd4
}

.l-26 {
    position:fixed;
    right: 1px;
    top:120px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #666;
}

.l-26 .letterActive {

    color: #fe3e3e;
    font-weight: 700
}

.bW .loading {
    border-radius: 10px;
    background-color: #555;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    text-align: center;
    z-index: 100;
}

.bW .loading img {
    position: relative;
    top: 25px;
    width: 40px;
    height: 40px
}

.bW .loading div {
    position: relative;
    top: 30px;
    color: #fff
}
